server:
  port: 8080

spring:
  application:
    name: authenticate-google

  datasource:
    url: jdbc:mysql://localhost:3306/oauthapp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            issuer-uri: https://accounts.google.com

app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration-seconds: 900
    refresh-token-expiration-seconds: 604800
